<head>
    <title>Tiny Chess</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='board.js') }}"></script>
</head>
<body>
    <h1>Tiny Chess</h1>
    <div class="game-container">
        <div class="board-section">
            <table id="chess-board">
                <thead>
                    <th></th>
                    {% for file in files %}
                        <th>{{ file }}</th>
                    {% endfor %}
                </thead>
                <tbody>
                    {% for row in range(board | length) %}
                        {% set rank_number = (board | length) - row %}
                        <tr>
                            <th>{{ rank_number }}</th>
                            {% for piece in board[row] %}
                                <td class="{{ piece.color }}"
                                    data-row="{{ row }}" data-col="{{ loop.index0 }}"
                                    onclick="handleSquareClick(this)">
                                    {{ piece.symbol }}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <p id="status">{{ status }}</p>
            <button onclick="resetGame()">Reset Game</button>
        </div>
        <div class="log-section">
            <h3 class="log-header">Move History</h3>
            <div id="move-log">
                <ol id="move-list">
                    {% for move in log %}
                        <li>{{ move }}</li>
                    {% endfor %}
                </ol>
            </div>
        </div>
    </div>
    <footer>
        <h3>Rules</h3>
        <p>Majority of the rules come from chess.
            (If you never played chess before and don't want to go look up the rules,
            you can just click on pieces and try moving them around.
            The highlighted squares show you the valid moves, so you can't go too wrong,
            just mess around and have fun)</p>
        <p>If you played chess before, the differences include:</p>
        <ul>
            <li>No castling</li>
            <li>No en passant</li>
            <li>No first double move for pawns</li>
            <li>Pawns the reach the oposing back rank promote automatically
                depending on the side (white - knight, black - bishop).
            </li>
            <li>No 50-move rule and draw on repetition sort of stuff</li>
    </footer>

    <audio id="sound-move" src="{{ url_for('static', filename='sounds/move.wav') }}" preload="auto"></audio>
    <audio id="sound-capture" src="{{ url_for('static', filename='sounds/capture.wav') }}" preload="auto"></audio>
    <audio id="sound-gameover" src="{{ url_for('static', filename='sounds/game_over.wav') }}" preload="auto"></audio>
</body>